<configuration>

    <!-- Конфигурация аппендера для вывода логов в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Определение формата вывода логов -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для корня (root), по умолчанию INFO -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
